---
import resourcesData from "@/data/resources.json";
import reposData from "@/data/repos.json";
import platfromsData from "@/data/platfroms.json";
---

<section>
    <div class="flex flex-col items-center md:items-start gap-5">
        <h2 class="text-2xl font-bold">Canales de YouTube</h2>
        <div class="flex flex-wrap justify-center md:justify-start gap-5 mb-10">
            {
                resourcesData.map((data) => {
                    return (
                        <div class="flex flex-col items-center gap-2">
                            <img
                                src={data.image}
                                alt={data.name}
                                width="120"
                                class="rounded"
                            />
                            <a
                                href={data.url}
                                target="_blank"
                                class="font-medium text-yellow-400 hover:underline"
                            >
                                {data.name.length > 15
                                    ? `${data.name.slice(0, 15)}...`
                                    : `${data.name}`}
                            </a>
                        </div>
                    );
                })
            }
        </div>
    </div>
    <div class="flex flex-col items-center md:items-start gap-5">
        <h2 class="text-2xl font-bold">Repositorios</h2>
        <div class="flex flex-wrap justify-center md:justify-start gap-5 mb-10">
            {
                reposData.map((data) => {
                    return (
                        <>
                            <div class="flex flex-col items-center gap-2 group">
                                <img
                                    src="https://i.imgur.com/k1BcIiL.jpg"
                                    alt={data.name}
                                    width="120"
                                    class="rounded"
                                />
                                <a
                                    href={data.url}
                                    target="_blank"
                                    class="font-medium text-yellow-400 hover:underline"
                                >
                                    #{data.id}
                                </a>
                                <div class="absolute bg-yellow-400 w-[120px] h-[120px] rounded p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-black font-medium text-sm cursor-pointer">
                                    {data.name}
                                </div>
                            </div>
                        </>
                    );
                })
            }
        </div>
    </div>
    <div class="flex flex-col items-center md:items-start gap-5">
        <h2 class="text-2xl font-bold">Canales de YouTube</h2>
        <div class="flex flex-wrap justify-center md:justify-start gap-5 mb-10">
            {
                platfromsData.map((data) => {
                    return (
                        <div class="flex flex-col items-center gap-2">
                            <img
                                src={data.image}
                                alt={data.name}
                                width="120"
                                class="rounded h-[120px]"
                            />
                            <a
                                href={data.url}
                                target="_blank"
                                class="font-medium text-yellow-400 hover:underline"
                            >
                                {data.name.length > 15
                                    ? `${data.name.slice(0, 15)}...`
                                    : `${data.name}`}
                            </a>
                        </div>
                    );
                })
            }
        </div>
    </div>
</section>
